
<mat-checkbox >Subscribe to newsletter</mat-checkbox>

<mat-checkbox 
  #showDetails 
  [value]="" 
  [checked]="isChecked"
  (change)="onChange($event)"
  >Show details</mat-checkbox>
  <div *ngIf="showDetails.checked">Some details...</div>

  <mat-radio-group>
    <mat-radio-button value="1" checked="checked">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
  </mat-radio-group>


  <h4>Basic mat-select</h4>
  <mat-form-field>
    <mat-select placeholder="Cars" [(ngModel)]="car">
      <mat-option *ngFor="let car of cars" [value]="car.value">
        {{ car.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
<div class="container">
  <h4>Select smartphone:</h4>
  <mat-form-field>
    <mat-select placeholder="Smartphones">
      <mat-option *ngFor="let smartphone of smartphones" [value]="smartphone.id">
        {{ smartphone.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input ngModel #username="ngModel" required name="username" type="text" matInput placeholder="Username">
      <mat-hint>Type a unique username.</mat-hint>
      <span mdSuffix>@domain.com</span>
      <mat-error *ngIf="username.invalid && username.errors.required">
        The username field is required
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <textarea cdkTextareaAutosize matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>
  </form>

  <!-- <mat-form-field>
      <input matInput [matDatepicker]="birthdate" placeholder="choose a birthdate">
      <mat-datepicker-toggle matSuffix [for]="birthdate"></mat-datepicker-toggle>
      <mat-datepicker #birthdate touchUi="true"></mat-datepicker>
  </mat-form-field> -->

  <mat-form-field>
      <input 
        (focus)="birthdate.open()"
        [min]="minDate"
        [max]="maxDate"
        matInput 
        [matDatepicker]="birthdate" 
        placeholder="choose a birthdate">
      <mat-datepicker-toggle matSuffix [for]="birthdate"></mat-datepicker-toggle>
      <mat-datepicker #birthdate touchUi="true"></mat-datepicker>
  </mat-form-field>
<br>

<mat-icon class="alert">add_alert</mat-icon>
<br>
<button mat-button>Button 1</button>
<button mat-raised-button>Button 2</button>
<button mat-stroked-button>Button 3</button>
<button mat-flat-button>Button 4</button>
<button mat-flat-button color="primary">Button 5</button>
<button mat-fab><mat-icon>add</mat-icon></button>

<h4> Chips </h4>
<mat-chip-list>
    <mat-chip 
    (click)="selectCategory(category)"
    [selected]="category.selected"
    color="accent" 
    *ngFor="let category of categories">
    {{ category.name }}
  </mat-chip>
  </mat-chip-list> 

<mat-spinner></mat-spinner>
<mat-spinner mode="determinate" value="20"></mat-spinner>
<mat-spinner mode="determinate" [value]="progress"></mat-spinner>


<h5> Tooltips </h5>
<button mat-raised-button
        matTooltip="Info about the action"
        aria-label="Button that displays a tooltip when focused or hovered over">
  Action
</button>

<span matTooltip="some info"> hover me</span>
<span matTooltip="some info" matTooltipPosition="right"> hover me</span>

<mat-tab-group>
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group> 

</div>

<router-outlet></router-outlet> 
