
<mat-checkbox >Subscribe to newsletter</mat-checkbox>

<mat-checkbox 
  #showDetails 
  [value]="" 
  [checked]="isChecked"
  (change)="onChange($event)"
  >Show details</mat-checkbox>
  <div *ngIf="showDetails.checked">Some details...</div>

  <mat-radio-group>
    <mat-radio-button value="1" checked="checked">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
  </mat-radio-group>


  <h4>Basic mat-select</h4>
  <mat-form-field>
    <mat-select placeholder="Cars" [(ngModel)]="car">
      <mat-option *ngFor="let car of cars" [value]="car.value">
        {{ car.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h4>Select smartphone:</h4>
  <mat-form-field>
    <mat-select placeholder="Smartphones">
      <mat-option *ngFor="let smartphone of smartphones" [value]="smartphone.id">
        {{ smartphone.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>



<router-outlet></router-outlet> 
